.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#password {
  position: relative;
  min-height: 90px;
}
#password > p {
  position: absolute;
  bottom: 0;
}
#password input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#password span {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
}

#confirmpassword,
#oldpassword,
#newpassword {
  position: relative;
  height: 80px;
}

#confirmpassword input,
#oldpassword input,
#newpassword input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#confirmpassword span,
#oldpassword span,
#newpassword span {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
}
#confirmpassword > .alert_text,
#oldpassword > .alert_text,
#newpassword > .alert_text {
  position: absolute !important;
  bottom: 0px !important;
  margin: 0;
  padding: 0;
}

#global_loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.596);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#global_loader > .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #000000; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
.alert_text {
  font-size: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#resetpassword,
#resetcpassword {
  position: relative;
  height: 80px;
}
#resetpassword > input,
#resetcpassword > input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#resetpassword > span,
#resetcpassword > span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
  color: gray;
}
